* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

article {
    width: 300px;
    text-align: center;
    background-color: rgb(23, 107, 163);
    border-radius: 10px;
    margin: 50px auto 20px;
    padding: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgb(167, 167, 167);
   
}

article h3 {
    padding: 10px;
    color:rgb(185, 237, 250);
}